/***********************Addaptation smartphone*****************************/

.font{
    background-image: url("../resources/fontBoucheneb.gif");
    background-size:cover;
    background-position: center; 
    padding: 154.5px; 
}
    

.image{
    width: 200px;
    margin: auto;
}


span{
    
    display: flex;
    justify-content: space-between;
}

.acceuil{
    display: flex;
    justify-content: space-between;

}

.noms{
    color: white;
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    margin: 100px 50px 0px -50px;
    padding: 0px;

    
}



.domain{
    color: white;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    margin: 10px -40px;
    padding: 0px;
}
.domaine1{
    color: white;
    font-size: 1.5rem;
    margin: 0px -35px;
}

.presentation {
    color: white;
    font-size: .5rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 70px 20px -70px;
    
}


div section{
   background-color: black;
    display:table-cell;
}



.nom{
    display: flex;

}

.imageCV{
    width: 30px;
    margin-top: 80px;
    margin-left: -40px;
}
.email{
    color: white;
    margin-top: 88px;
    margin-right: -40px;


}
.contact{
    display: flex;
    margin: -88px -30px;

}



/***********************Addaptation pc*****************************/
@media screen and (min-width: 940px) {

    .font{
    background-image: url("../resources/fontBoucheneb.gif");
    background-size:cover;
    background-position: center; 
    padding: 55px; 
 
}
    

.image{
    width: 495px;

}


main > span{
    
    justify-content: space-between;
}

h2{
    color: white;
    font-size: 50px;
    text-align:center ;
}




.bonjour1{
    font-size: 4.5rem;
    font-family: 'Playfair Display', serif;
    margin: 100px 50px 0px 70px;
    padding: 0px;

    
}

.bonjour2{
    font-size: 4.5rem;
    font-family: 'Playfair Display', serif;
    margin: 100px 0px 0px -50px;
    padding: 0px;

    
}

.bonjour3{
    font-size: 4.5rem;
    font-family: 'Playfair Display', serif;
    margin: 100px 50px 0px 25px;
    padding: 0px;

    
}

.noms{
    font-size: 4.5rem;
    font-family: 'Playfair Display', serif;
    margin: 100px 50px 0px 0px;
    padding: 0px;
}


.domain{
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    margin: 20px 120px;
    padding: 0px;
}
.domaine1{
    color: white;
    font-size: 3.5rem;
    margin: 20px 200px;
}

.presentation {
    color: white;
    font-size: 2.5rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px 30px;
    
}


div section{
   background-color: black;
    display:table-cell;
}



.nom{
    display: flex;
}
.email{
    padding: 30px;
}
.imageCV{
    padding: 20px 100px;
    width: 80px;
}

.contact{
        display: flex;
        margin: -50px 30px;
    
}

.competence{
    font-size: 3.5rem;
    color: white;
}

li{
    font-size: 3.5rem;
    color: white;

}

}
