.font{
    background-color:#D5D8DC;
    display:flex;
    background-size: cover;
}
.titre{
color: maroon;
    text-align:center ;
    padding: 10px;
    font-size: 2.5rem;

}

h3{
    color: grey;
    padding: 10px;
    font-family: 'Rock 3D', cursive;
    font-size: 2rem;
}

.cat{
    
    height: auto;  
    text-align:center ;
    margin: 50px 30px;

}
.description {
    color:black;
    background-color:  #EBDEF0;
    margin: auto;
    border-width:3px;
    border-style:outset;
    border-color:white;
}
.desc{
    color:black;
    font-size: 1rem;
    padding: 0px 40px;

}

.contenu{
    display: flex;

}

.image{
    margin: 50px;
    width: 200px;

}

.image1{
    background-color: white;
    margin: 50px;
    width: 200px;
}


@media screen and (min-width: 940px) {

    .font{
        background-color:#D5D8DC;
        display:flex;
        background-size: cover;
    }
    .titre{
    color: maroon;
        text-align:center ;
        padding: 10px;
        font-size: 4.5rem;

    }

    h3{
        color: grey;
        padding: 10px;
        font-family: 'Rock 3D', cursive;
        font-size: 50px;
    }

    .cat{
        
        height: auto;  
        text-align:center ;
        margin: 50px 30px;

    }
    .description {
        color:black;
        background-color:  #EBDEF0;
        padding: 50px;
        margin: auto;
        border-width:3px;
        border-style:outset;
        border-color:white;
    }
    .desc{
        color:black;
        font-size: 30px;
        padding: 0px 40px;

    }

    .contenu{
        display: flex;

    }

    .image{
        margin: 50px;
        width: 600px;

    }

    .image1{
        background-color: white;
        margin: 50px;
        width: 600px;
    }
}