.font{
    background-color:#D5D8DC;
    display:flex;
    background-size: cover;
    padding: 26px 0px;  

}
.titre{
    text-align:center ;
    font-size: 2.5rem;
    margin: 20px 0px ;
}

.desc{
    color:black;
    font-size: 1rem;
    margin: 20px;

}



/***********************Addaptation pc*****************************/
@media screen and (min-width: 940px) {

    .titre{
        color: maroon;
            text-align:center ;
            padding: 10px;
            font-size: 4.5rem;
        
        }
    .desc{
        font-size: 2.5rem;
        margin: 20px;

    }

}