
.footer{

    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    margin: 0px;
    padding: 1rem;
    }

    .devloppeur{
        color: white;
        font-size: 1.5rem;
    }
    .contact{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: small;
    }
    p{
        font-size: 30px;
    }
    .nom{
        padding: 20px 60px;
    }
    .email{
        padding: 20px 100px;

    }

    .contactDesc{
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }
    .description{
        padding: 20px 100px;
        width: 300px;
        height: 30px;
        font-size: 20px;  
        margin: 44px;
    }
    

