header{
    background-color: black;
}

.imagelogo{
    height: 30px;
    margin: 15px 0px;
}

.menu{
    display: flex;
    
}

.gauche{
    display: flex;
    justify-content: space-between;
}


.image{
    width: 40px;
    margin: 20px 0px 0px 10px;
}

@media screen and (min-width: 940px) {

    header{
        background-color: black;
    }
    
    .imagelogo{
        height: 70px;
        margin: 20px 0px 0px 0px;
    }
    
    .menu{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        
    }
    
    .gauche{
        display: flex;
    }
    
    .contact{
        display: flex;
        justify-content: space-between;
    
    }
    
    
    p{
        font-size: 25px;
        color: white;
        margin: 45px 30px 0px 0px;
        
    
    }
    
    .image{
        width: 80px;
        padding-right: 50px;
        margin: 15px 0px 0px 0px;
    }
}
