
.list {
    background-color: black;
    display: flex;
    list-style-type: none;
    margin: 0rem;
    padding: 20px 30px;

}

.list:hover{   
    color: black;
    border-radius: 60%;

}

.pages {

    font-size: 2.5rem;
    margin: 5px;
    padding: 5px;
}
.pages:hover{
    background-color: white;
}

a {
    color: grey;
    text-decoration:none;
}


    
@media screen and (min-width: 768px) and (max-width: 940px) {

    .list {
        background-color: black;
        display: flex;
        list-style-type: none;
        margin: 0rem;
        padding: 20px 30px;
    
    }
    
    .list:hover{   
        color: black;
        border-radius: 60%;
    
    }
    
    .pages {
    
        font-size: 1rem;
        margin: 10px;
        padding: 10px;
    }
    .pages:hover{
        background-color: white;
    }
    
    a {
        color: grey;

        text-decoration:none;
    }
   
}

@media screen and (min-width: 940px) {

    .list {
        background-color: black;
        display: flex;
        list-style-type: none;
        margin: 0rem;
        padding: 25px;
    
    }
    
    .list:hover{   
        color: black;
        border-radius: 60%;
    }
    
    .pages {
    
        font-size: 2.5rem;
        margin: 5px;
        padding:10px;
    }

    .pages:hover{
        background-color: white;
    }
    
    a {
        color: grey;
        text-decoration:none;
    }
    
}