/*************************************************************************************************************************************************
 * Pour cette fonction j'ai trouver une video sur Youtube qui permet de changer des images donc je l'ai utiliser dans mon site pour le projet 2  *
 * (Affichages des photos de mon projet) et j'ai changer quelques trucs pour l'adapter a ma page                                                 *
 * le lien de la video est: https://www.youtube.com/watch?v=og3wCO98HkQ                                                                          *
 *************************************************************************************************************************************************/


.container-slider {
  max-width: 1070px;
  height: 300px;
  width: 400px;
  position: relative;
  overflow: hidden;

}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 80%;
  height: 80%;
  margin: 20px 80px;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 30px;
  height: 35px;
  border-radius: 15%;
  background-color: rgba(255, 0, 0, 0.0);
  border: 1px solid rgba(34, 34, 34, 1);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 30%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 60%;
  right: 350px;
  transform: translateY(-60%);
}


.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background-color: #ADADA1;
}
.dot.active {
  background: rgb(32, 32, 32);
}

@media screen and (min-width: 940px) {
  .container-slider {
    max-width: 1070px;
    height: 800px;
    width: auto;
    margin: 50px auto 20px;
    position: relative;
    overflow: hidden;
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);*/
  }
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .slide img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: 0px 105px;
  }
  .active-anim {
    opacity: 1;
  }
  
  .btn-slide {
    width: 60px;
    height: 70px;
    border-radius: 30%;
    background-color: rgba(255, 0, 0, 0.0);
    border: 1px solid rgba(34, 34, 34, 1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
  }
  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }
  
  
  .container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background-color: #ADADA1;
  }
  .dot.active {
    background: rgb(32, 32, 32);
  }
}
